<div class="main-content d-inline-block align-top">
  <div class="row m-0">
    <div class="col-12 p-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
        <p class="navbar-brand mb-0">
          <label id="title" style="margin-bottom:0px;"><%= @trip.name %></label>
          <span id="head_desc" class="d-block"><%= @trip.description %></span>
        </p>
      </nav>
    </div>
  </div>
  <div class="row m-0 trip_schedules">
    <div class="col-12 p-0">
      <div id="wrapper">
        <div id="sidebar-wrapper">
          <div id="destination-stop-wrapper" class="list-group pointer-none user-select-none">
            <div class="row m-0 map-result-head-row"></div>
                <% trip_distance = 0  %>
                <%  data = @trip.trip_schedules.pluck(:position).any? ? @trip.trip_schedules.order(:position) : @trip.trip_schedules.order('created_at asc') %>
            <%  data.each do |trip_schedule|%>
              <div class="row m-0 m-10">
                <div class="col-sm-12 d-table w-100 map-result-tbl pl-0">
                  <div class='pl-3 text-white d-table-cell result-cell'>
                    <%= trip_schedule&.start_time&.strftime('%H:%M') %>
                    <%= trip_schedule&.end_time.present? ? '-' : '' %>
                    <%= trip_schedule&.end_time&.strftime('%H:%M') %>
                  </div>

                  <div class='text-white d-table-cell result-cell'>
                    <div class="place"><%= trip_schedule.place %></div>
                    <%= hidden_field_tag :place , trip_schedule.place , class: 'place_search' %>
                  </div>

                  <div class='text-white d-table-cell result-cell'>
                    <%= trip_schedule.distance.present? ? trip_schedule.distance : '0' %> kms
                  </div>
                </div>
                <% trip_distance = trip_distance.to_f + trip_schedule.distance.to_f %> 
              </div>
            <% end %>
          </div><br>
          <div class="ml-3 mt-2 text-white">
            <span class='total_display_distance'>Total <%= trip_distance.round(2) %> kms distance, </span>
            <span ><%= @trip.total_duration %> Hrs</span>
          </div>
        </div>
        <div id="page-content-wrapper">
          <a href class="btn btn-primary route-sidebarmenu" data-toggle="sidebar">
            <i class="fa fa-chevron-right"> </i>
          </a>
          <div class="row h-100 m-0">
            <div class="col-12 h-100 p-0">
              <div class="map-wrap h-100">
                <div id="map"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){  
    initMap()
  });
  
  $('[data-toggle="sidebar"]').click(function (e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
  if ($("#wrapper").hasClass("toggled")) {
    $(this).find("i").removeClass("fa-chevron-right").addClass("fa-chevron-left");
  } else {
    $(this).find("i").removeClass("fa-chevron-left").addClass("fa-chevron-right");
  }
});
 
</script>  
