<div class="row m-0 trip_schedules">
  <div class="col-12 p-0">
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <%= form_for @trip do |f| %>
        <% alphabet = ('a'..'z').to_a %>
          <div class="name_desc_block pl-3 pr-3">
            <div class="d-inline-block w-100">
              <label class="d-bock w-20">Name</label>
              <%= f.text_field :name, class: "custom-width-input ",  :required => true %>
            </div>
            <div class="w-100 d-inline-block">
              <label class="d-bock w-20">Description</label>
              <%= f.text_field :description, class: "custom-width-input", :required => true %>
            </div>
          </div>
          <div id="destination-stop-wrapper" class="list-group">
            <% arr = [] %>
            <%= f.nested_fields_for :trip_schedules, f.object.trip_schedules.pluck(:position).any? ? f.object.trip_schedules.order(:position) : f.object.trip_schedules.order('created_at asc')  do |ff| %>                
              <div class="destination-info-wrap d-flex <%= ff.object.id %>">
                <div class="block time-wrap d-inline-flex">
                  <%= ff.time_field :start_time, class: "w-100 start_time", id: ff.object.id ,value: ff.object.start_time.present? ? ff.object.start_time.strftime('%H:%M') : '' %>
                </div>
                <div class="block time-wrap d-inline-flex">
                  <%= ff.time_field :duration, class: "w-100 duration", id: ff.object.id  %>
                </div>
                <!-- <div class="block time-wrap d-inline-flex text-muted clr_gray"> -->
                  <%= ff.hidden_field :end_time, class: "w-25 end_time", id: ff.object.id ,readonly: true%>
                <!-- </div> -->
                <div class="block destination-name d-inline-flex">
                  <div class="d-flex align-items-center">
                    <%= ff.text_field :place, class: "place_search", id: ff.object.id , required:true %>
                  </div>
                </div>
                <!-- <div class="block hour-list d-inline-flex distance_div"> -->
                <%= ff.hidden_field :distance, class: "distance" , id: ff.object.id %>
                <span class="place_order text-white f-20 mt-10"></span>
                <div class="remove-icon-wrap">
                  <%= ff.remove_nested_fields_link class: 'remove_blocks' do %>
                    <i class="fa fa-times text-white remove"></i>
                  <% end %>
                </div>
                <%# if ff.object.place.present?  %>
                  <!-- <div class="drag_handle"> -->
                    <!-- <span><i class="fa fa-arrows-alt fa-xs text-white f-17"></i></span> -->
                  <!-- </div> -->
                <%# end %>

              </div>
              <span class='total_time text-white ml-4 '></span>
              <span class="google_display text-white  float-right mr-5"></span>
            <% end %>
          </div>
          <div class="ml-3 text-white">
            <span class='total_display'></span>
          </div>
          <div class="add">
          <%= f.add_nested_fields_link :trip_schedules, class: 'add-destination-block text-white d-flex test' do %>
            <div class="d-inline-flex">
              <div href="javascript:void(0)" class="add-destination-wrap">
                <i class="fa fa-plus-circle">
                </i>
              </div>
            </div>
            <div class="d-inline-flex">
              Add Destination
            </div>
          <% end %>
          </div>
          <%= f.hidden_field :total_duration, class: 'total_cacl' %>
          <div class="save-location-btn pl-3 pt-2">
            <%= f.submit 'Save', class: 'location-save btn-success' %>
          </div>
        <% end %>
        <div class="position-absolute back-button-wrap">
          <%= link_to 'Back',trips_path, class: 'btn btn-light' %>
        </div>
        <% if @trip.persisted? %>
          <div class="position-absolute share-button-wrap">
            <%= link_to 'Share' "#", data: {toggle: "modal", target: "#exampleModal"}, class: 'share' do %>
              <i class="fa fa-share-alt-square" style="font-size: 32px; color: white"></i>
            <% end %>
          </div>
        <% end %>
        
      </div>
      <div id="page-content-wrapper">
        <a href class="btn btn-primary route-sidebarmenu" data-toggle="sidebar">
          <i class="fa fa-chevron-right"> </i>
        </a>
        <div class="row h-100 m-0">
          <div class="col-12 h-100 p-0">
            <div class="map-wrap h-100">
              <div id="map"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <span id="bar"><%= request.url %></span>
        <div class="float-right">
          <button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar">
            <i class="fa fa-copy"></i>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){  
    var clipboard = new Clipboard('.clipboard-btn');
    initMap()
    getPlaces()


  });
  $('[data-toggle="sidebar"]').click(function (e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
  if ($("#wrapper").hasClass("toggled")) {
    $(this).find("i").removeClass("fa-chevron-right").addClass("fa-chevron-left");
  } else {
    $(this).find("i").removeClass("fa-chevron-left").addClass("fa-chevron-right");
  }
});
  $(document).keypress(
  function(event){
    if (event.which == '13') {
      event.preventDefault();
    }
});
  $('.share').click(function(e){
    var db_data_lenght = '<%= @trip.trip_schedules.length %>'
    var total_length = $('.place_search').length
    if(total_length > db_data_lenght){
      alert('Please save before share it.')
      return false
    }
    if(total_length < db_data_lenght){
      alert('Please save before share it.')
      return false
    }
  })

  $(function() {
    var sortIndex = {};
    $( "#destination-stop-wrapper" ).sortable({
      start: function(e, ui) {
      },
      update: function(e, ui) {
        $( "#destination-stop-wrapper" ).find('.start_time').each(function(index){
          if(this.id){
            sortIndex[index] = this.id
          }
        });
        if(Object.keys(sortIndex).length > 0){
          var request = $.ajax({
            url: "<%= params[:id].present? ? trip_path(params[:id]) : ''%>",
            type: "PUT",
            data: {data: sortIndex},
            dataType: "html"
          });
        }
        getDirection()
      }
    })
  });
</script>  
